.comment
  %a{ id: comment.id }
  %p.smaller_text
    Posted by 
    <strong>#{ link_to_if(!comment.user_id.nil?, comment.author, { controller: "users", action: "show", id: comment.user_id }) }</strong> on&nbsp;
    = comment.created_at.strftime("%e#{comment.created_at.day.ordinal} %B %Y at %H:%M:%S")
    - unless comment.created_at == comment.updated_at
      %em
        = comment.updated_at.strftime("(last modified on %e#{comment.updated_at.day.ordinal} %B %Y at %H:%M:%S)")
    %blockquote
      = markdown(comment.body)

  - from_reply_form ||= nil
  - unless from_reply_form
    %ul.divider-list.p-l-0
      %li
        = link_to "reply", post_new_comment_path(@post, comment.id)
      - unless !user_signed_in? || !current_user_id?(comment.user_id)
        %li
          = link_to "edit", edit_post_comment_path(@post, comment)
