<div class = "comment">
	<a id = "<%= comment.id %>"></a>
	<p class = "smaller_text">
	Posted by <strong><%= link_to_if(!comment.user_id.nil?, comment.author, {controller: "users", action: "show", id: comment.user_id}) %></strong> on <%= comment.created_at.strftime("%e#{comment.created_at.day.ordinal} %B %Y at %H:%M:%S") %> <em><%= comment.updated_at.strftime("(last modified on %e#{comment.updated_at.day.ordinal} %B %Y at %H:%M:%S)") unless comment.created_at == comment.updated_at %></em>
	</p>

	<blockquote>
		<%= markdown(comment.body) %>
	</blockquote>

	<% from_reply_form ||= nil %>
	<% unless from_reply_form %>
		<p><%= link_to "reply", post_new_comment_path(@post, comment.id) %> <%= link_to "update", edit_post_comment_path(@post, comment) unless !user_signed_in? || !current_user_id?(comment.user_id) %></p>
	<%end%>
</div>
