= form_for [@post, @comment] do |f|
  = f.hidden_field :parent_id
  .general_form
    %fieldset.row
      .col-md-2.col-sm-3.col-xs-2
        = f.label :author, "Posting as:"
      .col-md-4.col-sm-9.col-xs-10
        %strong
          = @comment.author
    - unless current_user
      %fieldset.row
        .col-lg-7.col-md-6.col-md-offset-2.col-sm-11.col-xs-10
          (#{ link_to "Log In", log_in_path, class: "smaller_text" unless current_user } | 
          #{ link_to "Sign Up", sign_up_path, class: "smaller_text" })
    %p
      Please use #{ link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" } to format your comments.
    %fieldset.row
      .col-md-2.col-sm-12
        = f.label :body, "Comment:"
      .col-md-4.col-sm-7.col-xs-7
        = f.text_area :body, rows: 10
    %fieldset.row
      .col-lg-7.col-md-6.col-md-offset-2.col-sm-11.col-xs-10
        = f.button "Submit", class: "button"
