<%= form_for [@post, @comment] do |f| %>
	<table>
		<%= f.hidden_field :parent_id %>
		<tr>
			<td><strong><%= f.label :author, "Posting as:" %></strong>
				<%= @comment.author %>
				<%unless current_user %>
					(<%= link_to "Log In", login_path, class: "smaller_text" unless current_user %> | 
					<%= link_to "Sign Up", sign_up_path, class: "smaller_text" %>)
				<%end%>
			</td>
		</tr>
		<tr>
			<td>Please use <%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %> to format your comments.</td>
		</tr>
		<tr class = "field">
			<td><%= f.text_area :body, rows: 10 %></td>
		</tr>
		<tr>
			<td><%= f.submit "Submit", class: "button" %></td>
		</tr>
	</table>
	
<%end%>
