<% provide(:title, 'All Users')%>
<%= render "layouts/blog_login_logout" %>
<h1>All Users</h1>
<%= will_paginate%>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Bio</th>
	</tr>
	<% @users.each do |user|%>
		<% unless user.locked? && !admin_is_logged_in %>
			<tr>
				<td><%= user.id %></td>
				<td><%= link_to user.name, user %></td>
				<td><%= user.bio.to_s.truncate(15) %></td>
				<td>
					<% if admin_is_logged_in %>
						<%= link_to "Edit", edit_user_path(user) %>

						<%= link_to "Delete", user, method: :delete, data: { cofirm: "Are you sure?"}  unless current_user?(user) %>
				<%end%>
				</td>
			</tr>
		<%end%>
	<%end%>

</table>
<%= will_paginate%>
