- provide(:title, 'All Users')
= render partial: "layouts/blog_login_logout"
%h1
  All Users

= will_paginate

%table
  %tr
    %th
      ID
    %th
      Name
    %th
      Bio
  - @users.each do |user|
    - unless user.locked?
      %tr
        %td
          = user.id
        %td
          = link_to user.name, user
        %td
          = user.bio.to_s.truncate(50)
        %td
          - if admin_is_logged_in || current_user?(user)
            = link_to "Edit", edit_user_path(user)
        %td
          - if admin_is_logged_in
            = link_to "Delete", user, method: :delete,
              data: { cofirm: "Are you sure?" }  unless current_user?(user)

= will_paginate
