<% provide(:title, 'All Users')%>
<h1>All Users</h1>
<div class = "right-align">
	<%= link_to "New User", new_user_path %> | 
	<%= link_to "Log Out", destroy_user_session_path, method: "delete" unless !user_signed_in? %>
</div>
<%= will_paginate%>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Bio</th>
	</tr>
	<% @users.each do |user|%>
		<% unless user.locked? %>
			<tr>
				<td><%= user.id %></td>
				<td><%= link_to user.name, user %></td>
				<td><%= user.bio.to_s.truncate(15) %></td>
				<td>
					<% if admin_is_logged_in %>
						<%= link_to "Edit", edit_user_path(user) %>

						<%= link_to "Delete", user, method: :delete, data: { cofirm: "Are you sure?"}  unless current_user?(user) %>
				<%end%>
				</td>
			</tr>
		<%end%>
	<%end%>

</table>
<%= will_paginate%>
