= form_for(@client, html: { multipart: true }, remote: true) do |f|
  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :client_name, t('clients.form.name'), id: 'name'
    .col-md-10.col-sm-10.col-xs-12
      = f.text_field :client_name, tabindex: 1, 'aria-labelledby': 'name',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :client_url, t('clients.form.client_url'), id: 'client_url'
    .col-md-10.col-sm-10.col-xs-12
      = f.text_field :client_url, tabindex: 2, 'aria-labelledby': 'client_url',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :logo_url, t('clients.form.logo_url'), id: 'logo_url'
    .col-md-10.col-sm-10.col-xs-12
      = f.text_field :logo_url, tabindex: 3, 'aria-labelledby': 'logo_url',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :image_url, t('clients.form.image_url'), id: 'image_url'
    .col-md-10.col-sm-10.col-xs-12
      = f.file_field :image_url, tabindex: 4, accept: 'image/jpeg,image/gif,image/png', 'aria-labelledby': 'image',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :pdf, t('clients.form.pdf'), id: 'pdf'
    .col-md-10.col-sm-10.col-xs-12
      = f.file_field :pdf, tabindex: 5, accept: 'application/pdf', 'aria-labelledby': 'pdf',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :description, t('clients.form.description'), id: 'description'
    .col-md-10.col-sm-10.col-xs-12
      = f.text_area :description, tabindex: 6, 'aria-labelledby': 'description',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :draft, t('clients.form.draft'), id: 'draft'
    .col-md-10.col-sm-10.col-xs-12
      = f.check_box :draft, tabindex: 7, 'aria-labelledby': 'draft',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-2.col-sm-2.col-xs-12
      = f.label :rank, t('clients.form.rank'), id: 'rank'
    .col-md-10.col-sm-10.col-xs-12
      = f.number_field :rank, tabindex: 8, 'aria-labelledby': 'rank',
        class: 'width-100p glowing-border'

  %fieldset.row.field.m-10px-bottom
    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-2.col-xs-12
      = f.submit "Save", class: "button"
