<% provide(:title, "Clients")%>
<h1>Clients</h1>

<ul class = "clients">
	<% @clients.each do |client| %>
		<style>
			.screenshot-<%=client.id%>{
				background-image: url('<%=client.image_url %>');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 60%;
				position: fixed;
				z-index: 100000;

				}
		</style>


		<li>
			<%= link_to "#", id: "client_image-#{client.id}" do%>
				<%= image_tag(client.logo_url, width: "100%") %>
				<br />
				<div>
					<%= client.client_name %>
					<noscript>
						<%=link_to "Site", client.client_url %>|
						<%=link_to "Screenshot",image_path(client.image_url) %>|
						<%= link_to "PDF", (client.pdf.to_s) %>|
					</noscript>
				</div>
			<%end%>
			<div>
				<%= link_to_if(current_user && current_user.admin?, "#{client.description.truncate(45)}", client) %>
			</div>
			<%if current_user && current_user.admin%>
				<div>
					<%= link_to 'Show', client %>	|
					<%= link_to 'Edit', edit_client_path(client) %>	|
					<%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			<%end%>
			
					<br />
			<div class = "screenshot screenshot-<%=client.id%>">
		
				<b><%= link_to "Close image ×", "#", class: "close_image"%></b>
				<div class = "description">
					<a href = "#" class = "close">&times;</a>
					<p><strong><u><%= link_to "#{client.client_name} - #{client.client_url.gsub(/((https?)\:\/+(w+\.)?)/i, "")}", client.client_url %></u></strong></p>
					<%= client.description %>
					<% if client.pdf.present? %>
						<strong><%= link_to "[PDF]", (client.pdf.to_s) %></strong>
					<%end%>
				</div>
			</div>
		</li>


		<script>
			function screenshotLarge<%=client.id%>() {
				if ($(".screenshot-<%=client.id%>").is(":hidden")){
					$(".screenshot-<%=client.id%>").fadeIn("slow");
					$(".container").css("overflow-y", "hidden");
				}
				if ($(".screenshot-<%=client.id%> .description").is(":hidden")){
					$(".screenshot-<%=client.id%> .description").fadeIn("slow");
				}
			}
				$( "#client_image-<%=client.id%>" ).click(function() {
					screenshotLarge<%=client.id%>();
				});
				$(window).bind('orientationchange', function(){
					if ($(".screenshot-<%=client.id%>").is(":visible")){
					screenshotLarge<%=client.id%>();
					}
				});
		</script>
	<% end %>
</ul>
<br />
<% if current_user && current_user.admin?%>
	<%= link_to 'New Client', new_client_path %><%end%>
