<% provide(:title, "Clients")%>
<h1>Clients</h1>

<ul class = "clients">
	<% @clients.each do |client| %>
		
		<li>
			<%= link_to image_tag(client.logo_url, width: "100%"), "#client-#{client.id}", class: "fancybox" %>
				<br />
				<div>
					<%= client.client_name %>
					<noscript>
						<%=link_to "Site", client.client_url %>|
						<%=link_to "Screenshot",image_path(client.image_url) %>|
						<%= link_to "PDF", (client.pdf.to_s) %>|
					</noscript>
				</div>
			<div class = "desc">
				<%= link_to_if(current_user && current_user.admin?, "#{client.description.truncate(26)}", client) %>
			</div>
			<%if current_user && current_user.admin%>
				<div>
					<%= link_to 'Show', client %>	|
					<%= link_to 'Edit', edit_client_path(client) %>	|
					<%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			<%end%>
			
			<br />
			<div class = "screenshot" id = "client-<%=client.id%>">
				<%= image_tag(client.image_url) %>		
				<div class = "description">
					<strong><u><%= link_to "#{client.client_name} - #{client.client_url.gsub(/((https?)\:\/+(w+\.)?)/i, "")}", client.client_url %></u></strong>
					<p><%= client.description %>
					<% if client.pdf.present? %>
						<strong><%= link_to "[PDF]", (client.pdf.to_s) %></strong>
					<%end%></p>
				</div>
			</div>
		</li>
	<% end %>
</ul>
<br />
<% if current_user && current_user.admin?%>
	<%= link_to 'New Client', new_client_path %><%end%>

