- provide(:title, 'Clients: ' + @client.client_name.capitalize)

%h1
  = @client.client_name

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong ID:
  .col-md-10.col-sm-10.col-xs-12
    = @client.id

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Name:
  .col-md-10.col-sm-10.col-xs-12
    = @client.client_name

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Client Website:
  .col-md-10.col-sm-10.col-xs-12
    = @client.client_url

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Client Logo:
  .col-md-10.col-sm-10.col-xs-12
    = @client.logo_url.url

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Screenshot URL:
  .col-md-10.col-sm-10.col-xs-12
    = @client.image_url.url

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Screenshot PDF:
  .col-md-10.col-sm-10.col-xs-12
    = @client.pdf.url

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Description:
  .col-md-10.col-sm-10.col-xs-12
    = @client.description

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Draft:
  .col-md-10.col-sm-10.col-xs-12
    = @client.draft

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Rank:
  .col-md-10.col-sm-10.col-xs-12
    = @client.rank

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Date Created:
  .col-md-10.col-sm-10.col-xs-12
    = @client.created_at

.row.m-10px-bottom
  .col-md-2.col-sm-2.col-xs-12
    %strong Date Last Modified:
  .col-md-10.col-sm-10.col-xs-12
    = @client.updated_at

%br
%div
  - if admin_is_logged_in
    = link_to 'Edit', edit_client_path(@client)
    |
    = link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' }
    |
  = link_to 'Back', clients_path
