<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>I am available via <%= mail_to "kohrVid@zoho.com", "email" %> and <%= link_to "Twitter", 'https://twitter.com/intent/tweet?screen_name="kohrVid"' %>. Alternatively, you can send me a message using the contact form below if you'd prefer.</p>
<%= form_for @contact do |f| %>
	<table class = "general_form">
		<tr>
			<td><%=f.label :name, "Name:" %></td>
		</tr>
		<tr>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr></tr>
		<tr>
			<td><%=f.label :email, "Email address:" %></td>
		</tr>
		<tr>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr></tr>
		<tr>
			<td><%=f.label :message, "Message:" %></td>
		</tr>
		<tr>
			<td><%= f.text_area :message, rows: 10 %></td>
		</tr>
		<tr></tr>
		<tr class = "hidden">
			<td><%= f.label :nickname %></td>
			<td><%= f.text_field :nickname %></td>
		</tr>
	</table>
	<div>
		<%= f.button "Send", class: "button" %>
	</div>
<%end%>
</div>
