- provide(:title, "All Projects")

%h1
  Projects

%p
  Many of the personal projects I've worked on can be found on my
  #{ link_to "GitHub", "https://github.com/kohrVid" } page (which also contains
  &nbsp;links to the apps that I've deployed to Heroku). The following is a sample of
  what I've worked on in the past:

%ul.projects
  - @projects.published.each do |project|
    %li
      - unless project.image.try(:thumb).nil?
        = link_to image_tag(project.image.thumb.url), image_path(project.image.url)
      %br
      %div
        = project.name
        %div
          =link_to "Repo URL", project.repo_url
          |
        %div
          =link_to "App URL", project.app_url
          |
          - unless project.image.nil?
            = link_to "Screenshot", image_path(project.image.url)
            |
          %div
            = project.languages.gsub(", ", "|")
      .desc
        = link_to_if(admin_is_logged_in, "#{project.description}", project)
      - if admin_is_logged_in
        %div
          = link_to 'Show', project
          |
          = link_to 'Edit', edit_project_path(project)
          |
          = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
      %br

%br
- if admin_is_logged_in
  = link_to 'New Project', new_project_path
