- provide(:title, @tag.name)
= render "layouts/blog_login_logout"
%h1
  = @tag.name

%ul.no-bullet
  - @tag.posts.published.each do |post|
    %li
      <strong>#{ link_to post.title, post },</strong> published #{ time_ago_in_words(post.published_at) } ago
%br


%ul.divider-list
  %li
    = link_to "Back to All Tags", tags_path
  - if current_user || admin_is_logged_in
    %li
      = link_to "Edit Tag", edit_tag_path(@tag)
    %li
      = link_to "Delete Tag", @tag, method: :delete, data: { confirm: "Are you sure? This cannot be undone" }
