<% provide(:title, 'Reset Password') %>
<h1>Reset Password</h1>

<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
	<table>
		<tr>
			<td><%= hidden_field_tag :email, @user.email %></td>
		</tr>
		<tr>
			<td><%= f.label :password, "New Password:" %></td>
		</tr>
		<tr>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
		</tr>
			<td><%= f.label :password_confirmation, "Confirm New Password:" %></td>
		</tr>
		<tr>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><%= f.submit "Update Password", class: "button" %></td>
		</tr>
	</table>
<%end%>
