= form_for @post do |f|
  .general-form.container-fluid
    %fieldset.row
      .col-lg-2.col-md-2.col-sm-12.col-xs-12
        = f.label :title, "Title"
      .col-lg-8.col-md-9.col-sm-12.col-xs-12
        = f.text_field :title
    %fieldset.row
      .col-lg-2.col-md-2.col-sm-12.col-xs-12
        = f.label :body, "Body"
      .col-lg-8.col-md-9.col-sm-12.col-xs-12
        = f.rich_text_area :rich_text_body, class: "text_area"

    %fieldset.row
      .col-lg-2.col-md-2.col-sm-12.col-xs-12
        = f.label :tag_list, "Tags"
      .col-lg-8.col-md-9.col-sm-12.col-xs-12
        = f.text_field :tag_list
    %fieldset.row
      .col-md-2.col-sm-2.col-xs-2
        = f.label :draft, "Draft?"
      .col-md-4.col-sm-7.col-xs-7
        = f.check_box :draft
    %fieldset.row
      .col-lg-2.col-md-2.col-sm-12.col-xs-12
      .col-lg-8.col-md-9.col-sm-12.col-xs-12
        = f.button "Submit", class: "button"
