%article.rich-text
  %h2.blog-index-titles
    = link_to post.title, post
    &nbsp;
    %small.smaller-text
      %em
        (#{ pluralize(post.comments.count, "comment") })

  %em
    = post.published_format

  .p-t-1r
    = truncate_body(post.rich_text_body)
    = link_to "[Read more...]", post

  %br
  - if admin_is_logged_in?
    %ul.divider-list.p-l-0
      %li
        = link_to "Edit Post", edit_post_path(post)
      %li
        = link_to "Delete Post", post, method: :delete, data: { cofirm: "Are you sure? This cannot be undone!"}
