- provide(:title, "Edit Post")
= render partial: "layouts/blog_login_logout"
%h1
  Edit Blog Post

= render partial: "posts/form"

%ul.divider-list
  %li
    = link_to "Back to All Posts", posts_path
  %li
    = link_to "Back to #{@post.title}", post_path(@post)
  - if admin_is_logged_in?
    %li
      = link_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure? This cannot be undone but saving this as a draft will hide the post instead." }


