<% provide(:title, 'Blog')%>
<%= render "layouts/blog_login_logout" %>
<h1>Blog</h1>
<%= will_paginate%>
	<% @posts.each do |post|%>
		<h3><%= link_to post.title, post %>
		<small class = "smaller_text"><em>(<%= pluralize(post.comments.count, "comment")%>)</em></small></h3>
		<%= markdown(post.body.to_s.truncate(500) ) %>
		<%= link_to "[Read more...]", post %>
		<br />
		<% if admin_is_logged_in %>
			<br />
			<%= link_to "Update Post", edit_post_path(post) %> | 

			<%= link_to "Delete Post", post, method: :delete, data: { cofirm: "Are you sure? This cannot be undone!"} %>
		<%end%>
		<hr />
	<%end%>
<%= will_paginate%>
