- provide(:title, 'Blog')
= render partial: "layouts/blog_login_logout"
%h1
  Blog

= will_paginate
- @posts.each do |post|
  %article
    %h2
      = link_to post.title, post
      %small.smaller_text
        %em
          (#{ pluralize(post.comments.count, "comment") })
    = markdown(post.body.to_s.truncate(500) )
    = link_to "[Read more...]", post
    %br
    - if admin_is_logged_in
      %ul.divider-list.p-l-0
        %li
          = link_to "Update Post", edit_post_path(post)
        %li
          = link_to "Delete Post", post, method: :delete, data: { cofirm: "Are you sure? This cannot be undone!"}
= will_paginate
