- provide(:title, @post.title)
= render partial: "layouts/blog_login_logout"

%article
  %h1
    = @post.title
  %p
    %em
      = @post.published_at.strftime("Published %e#{@post.published_at.day.ordinal} %B %Y at %H:%M") if @post.published_at.present?
    %br
    %em.smaller_text
      = @post.updated_at.strftime("(Last Updated %e#{@post.updated_at.day.ordinal} %B %Y at %H:%M)") if @post.published_at.present? && (@post.published_at.to_date != @post.updated_at.to_date)

  -unless !@post.draft?
    This is a draft
  = markdown(@post.body)

  %section
    - PostTag.where(post_id: @post.id).each do |tag|
      %ul.tags
        %li
          = link_to Tag.find(tag.tag_id).name, Tag.find(tag.tag_id)

  %ul.divider-list.p-l-0
    %li
      = link_to "Back to All Posts", posts_path
    - if current_user || admin_is_logged_in
      %li
        = link_to "Update Post", edit_post_path(@post)
      %li
        = link_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure? This cannot be undone but saving this as a draft will hide the post instead." }

= link_to "Post a comment", post_new_comment_path(@post)

= comments_tree_for @comments

