<% provide(:title, @post.title) %>
<%= render "layouts/blog_login_logout" %>
<h1><%= @post.title %></h1>
<p>
	<em><%= @post.published_at.strftime("Published %e#{@post.published_at.day.ordinal} %B %Y at %H:%M") if @post.published_at.present? %></em><br />
	<em class = "smaller_text"><%= @post.updated_at.strftime("(Last Updated %e#{@post.updated_at.day.ordinal} %B %Y at %H:%M)") if @post.published_at.present? && (@post.published_at.to_date != @post.updated_at.to_date) %></em>
</p>
<%unless !@post.draft? %>
	This is a draft
<%end%>
<%= markdown(@post.body) %>
<br />


<%= link_to "Back to All Posts", posts_path %>
<% if current_user || admin_is_logged_in %>
	 | <%= link_to "Update Post", edit_post_path(@post) %>
	 | <%= link_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure? This cannot be undone but saving this as a draft will hide the post instead." } %>
<%end%>
<hr />
<%= link_to "Post a comment", post_new_comment_path(@post) %>

<%= comments_tree_for @comments %>

