- provide(:title, @post.title)
= render partial: "layouts/blog_login_logout"

%article.blog-post
  %h1.blog-title
    = @post.title
  %p
    %em
      = @post.published_at.strftime("Published %e#{@post.published_at.day.ordinal} %B %Y at %H:%M") if @post.published_at.present?
    %br
    %em.smaller-text
      = @post.updated_at.strftime("(Last Updated %e#{@post.updated_at.day.ordinal} %B %Y at %H:%M)") if @post.published_at.present? && (@post.published_at.to_date != @post.updated_at.to_date)

  - unless !@post.draft?
    #error_explanation.alerts
      %h4.alert
        This is a draft
  = @post.rich_text_body

  %section
    %ul.tags.p-l-0
      - @post.tags.each do |tag|
        %li
          = link_to tag.name, tag

  %ul.divider-list.p-l-0
    %li
      - if @post.draft == false
        = link_to "Back to All Posts", posts_path
      - if @post.draft == true && admin_is_logged_in
        = link_to "Back to All Drafts", drafts_path

    - if current_user && admin_is_logged_in
      %li
        = link_to "Edit Post", edit_post_path(@post)
      %li
        = link_to "Delete Post", @post,
          method: :delete,
          data: { confirm: "Are you sure? This cannot be undone but saving this as a draft will hide the post instead." }

= link_to "Post a comment", post_new_comment_path(@post)

= comments_tree_for @post.comments.hash_tree

