<% provide(:title, @post.title) %>
<%= render "layouts/blog_login_logout" %>
<h1><%= @post.title %></h1>
<p>
	<em><%= @post.published_at.strftime("Published %d#{@post.published_at.day.ordinal} %B %Y at %H:%M") if @post.published_at.present? %></em>
</p>
<%unless !@post.draft? %>
	This is a draft
<%end%>
<p>
	<%= @post.body %>
</p>


<%= link_to "Back to All Posts", posts_path %>
<% if current_user || admin_is_logged_in %>
	 | <%= link_to "Update Post", edit_post_path(@post) %>
	 | <%= link_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure? This cannot be undone but saving this as a draft will hide the post instead." } %>
<%end%>
