%li.container-fluid
  .row
    .display-inline.col-lg-3.col-md-3.col-sm-3.col-xs-4
      %strong
        = link_to "Deliveroo", "https://deliveroo.co.uk"
      %br
      Jul 2017 - Present
    .display-inline.col-lg-9.col-md-9.col-sm-9.col-xs-8
      %br
      I currently work as a backend software engineer on the Growth team at
      Deliveroo. At Deliveroo I've worked on a variety of projects, mostly on
      older Rails applications though our most recent services have been written
      in Scala. I have also had the opportunity to coach at
      #{ link_to "Rails Girls", "http://railsgirls.com/london" }, get
      &nbsp;involved with the Tech Org's Diversity, Inclusion and Belonging committee,
      participate in the
      <em>#{ link_to "Functional Programming in Scala", "https://www.manning.com/books/functional-programming-in-scala" }</em>
      &nbsp;reading group and I even gave a short tech talk about the work we
      &nbsp;had done in Scala during our
      &nbsp;#{ link_to "Consumer Engineering Conference", "https://twitter.com/DeliverooEng/status/1060863034242011136" }

%li.container-fluid
  .row
    .display-inline.col-lg-3.col-md-3.col-sm-3.col-xs-4
      %strong
        = link_to "Tyk", "https://www.tyk.io"
      %br
      Sep 2016 - Jul 2017
    .display-inline.col-lg-9.col-md-9.col-sm-9.col-xs-8
      %br
      I worked as a developer and support engineer in the Shoreditch office.
      Whilst there I gained experience with Go and some AngularJS but also helped
      &nbsp;to write the Rails app that powers #{ link_to "Tyk's status page", "https://status.tyk.io/" }.
