<% provide(:title, 'About') %>
<h1>About</h1>
<p>I'm twenty-three, born and raised in London. In a former life, I worked in IT support for over three years, mostly supporting Windows users before realising that my true calling in life was to develop apps using a <%= link_to "Debian", "http://www.urbandictionary.com/define.php?term=penguinista", title: "penguinista", target: "blank" %> machine. Before <i>that</i>, <%= link_to "I went to school", "https://uk.linkedin.com/pub/jessica-ete/61/21b/323", title: "I know some people really like LinkedIn so here's my profile" %>.</p>

<p>The speed with which Ruby on Rails sites can be created and deployed as well as the vibrant community surrounding Ruby in general were what drew me to the programming language initially.</p>


<p>You may be interested to know that:</p>
<ul>
	<li>I'm not <%= link_to "French", "https://en.wiktionary.org/wiki/%C3%A9t%C3%A9" %> (sorry)</li>
	<li>I am an INTP (which I'm actually rather <%= link_to "proud", "http://www.celebritytypes.com/intp.php" %> of but YMMV)</li>
	<li>I listen to music sometimes - mostly just alternative or whatever passed for <%= link_to "punk", "https://en.wikipedia.org/wiki/Emo#Mainstream_popularity:_2000s" %> back when I was thirteen</li>
	<li>I occasionally follow <%= link_to "corvids", image_path("corvid.jpg")%> and take pictures of them <%= link_to "running away", image_path("running.jpg")%> on my smartphone</li>
	<li>I have a <%= link_to "Twitter account", "https://twitter.com/kohrVid" %> if you'd like to follow/tweet.</li>
</ul>
