%h1
  Hi<span style="font-family: Arial, Helvetica; font-size: 1rem;">,</span> my name's Jess.

%p
  Welcome to my site! I'm a developer from London and until I get my totally awesome AirBnB for magpies startup off the ground, this will function as my&nbsp; 
  #{ link_to "portfolio", portfolio_path, title: "projects and clients" }/
  #{ link_to "blog", blog_path, title: "my blog" }/
  #{ link_to "whatever", image_path("comoTeLlama.jpg"), title: "¿que?" }.

%p
  If you want, you can 
  #{ link_to "get in touch", contact_path }&nbsp;
  and tell me how much you love the site's new layout. Being a super awesome developer, I also have a
  #{ link_to "GitHub account", "https://github.com/kohrVid/" }&nbsp;
  that you can gawk at or something.
