<nav id = "top-bar" role = "navigation" >
	<ul class = "title-area">
		 <li class = "name">
			 <%= link_to "kohrVid", root_path, title: "back to the nest" %>
		</li>
	</ul>

	<ul class = "right">
		<li>
			<%= link_to image_tag( "github.png", width: "35px"), "https://github.com/kohrVid", class: "icon", title: "GitHub" %>
		</li>
		<li>
			<%= link_to image_tag( "twitter.png", width: "35px"), "https://twitter.com/intent/follow?screen_name=kohrVid&tw_p=followbutton", class: "icon", title: "Twitter"  %>
		</li>
		<li>
			<%= link_to "Menu", "#", id: "menu" %>
		</li>
	</ul>
					


</nav>


<ul id = "dropdown">
	<li>
		<%= link_to "About", about_path%>
	</li>
	<li>
		<%=link_to "Clients", clients_path %>
	</li>
	<li>
		<%= link_to "Contact", contacts_path %>
	</li>
</ul>

