<!DOCTYPE html>
<html>
	<head>
	  <title>kohrVid</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application' %>
	  <%= javascript_include_tag 'vendor/modernizr' %>
	  <%= csrf_meta_tags %>
	  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id = "feathers">
			<%= render 'layouts/header' %>
			<svg>
				<defs>
					<pattern id="textpattern" patternUnits="userSpaceOnUse" width="1413" height="795" >
						<image xlink:href="assets/magpie.jpg" width=1413px height  = 795px x="0" y="0"/>
					</pattern>
				</defs>
				<text id = "logo" y= "400px" x= "400px" fill="url(#textpattern)">kohrVid</text>
			       	
			</svg>
			<img src = "assets/magpie.jpg" />
		</div>

		<div class = "container">
			<%= yield %>
		</div>

		<div class = "footer" >
			© 2015 kohrVid
		</div>


	</body>
</html>
