<!DOCTYPE html>
<html>
	<head>
		<title>kohrVid<%= content_for?(:title) ? " | #{yield(:title)}" : "" %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<%= favicon_link_tag 'favicon.ico' %>
		<!--[if lte IE 8 ]>
			<style>
				body{
					background-color: #070715 !important;
				}
				.container{
					background-color: #f3f3f3 !important;
				}
				#top-bar{
					backgroud-color: #070715 !important;
						color: #f3f3f3 !important;
					}
			</style>
		<![endif]-->
	</head>
	<body>
		<div class = wrapper>
			<div id = "feathers">
				<svg>
					<defs>
						<pattern id="textpattern" patternUnits="userSpaceOnUse" width="1413" height="795" >
						<image xlink:href = "<%= image_path("magpie.jpg")%>"  width=1413px height  = 795px x="0" y="0"/>
						</pattern>
					</defs>
					<text id = "logo" y= "400px" x= "3px" fill="url(#textpattern)">kohrVid</text>
					
				</svg>
				<img class = "bg" src = <%= image_path("magpie.jpg")%> />
			</div>
			<%= render 'layouts/header' %>

			<div class = "container">
				<!--[if lte IE 8 ]>
	    				Sorry, this site doesn't support IE8 or lower. Please upgrade your browser or try switching to Firefox/Chrome/Opera
				<![endif]-->
				<noscript>
					This site looks much nicer with JavaScript enabled so please make sure it's switched on in your browser settings if possible.
				</noscript>
				<%= render 'layouts/alerts'%>
				<%= yield %>
			</div>
			<% unless !(@post||@posts).present? %>
				<div class = "blog_archives">
					<%= render "posts/blog_archives" %>
				</div>
			<%end%>

			<div class = "footer" >
				© 2016 kohrVid
			</div>

		

	</body>
</html>
